@charset "utf-8";
/* CSS Document */

html,body,h1,h2,h3,ul,li,p{
  margin:0;
  line-height:1.0;
  padding:0;
}
a{
  color:#fff;
  text-decoration:none;
}
ul{
  list-style:none;
}
img{
  vertical-align:bottom;
}

body{
  font-size:62.5%;
}

.conteiner{
  background:#fff;
  box-sizing:border-box;
  margin:0 auto;
  padding:7px 8px 42px;
  width:726px;
}

header{
  h1{
    height:8px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.content{
  background:#edeae5;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin:0 auto;
  padding:16px 10px 11px;
}

.box{
  background:#fff;
  border:1px solid #d9d9d9;
  box-sizing:border-box;
  margin-bottom:24px;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width: 340px;
}
h2{
  height:80px;
  background:url(../images/bg-h2.png) repeat-x center center/contain;
  font-size:17px;
  margin-bottom:10px;
  padding:14px 9px 0;
  width:100%;
  
  a{
    line-height: 1.5;
    text-decoration:none;
  }  
  a:hover{
    text-decoration:underline;
  }  

}

dl{
  align-items: center;
  background:#f28100;
  color:#fff;
  display:flex;
  font-size:10px;
  height:15px;
  margin-left:auto;
  margin-top:0;
  width:115px;

  dt{
    margin-left:6px;
    width:59px;
  }
  
  dd{
    background:#fff;
    color:#000;
    margin:2px;
    width:56px;
  }
}
.ptoho{
  background:url(../images/bg-box.png) repeat center center;
  height:110px;
  padding:5px;
  margin-left:9px;
}
.ptoho2{
  margin:0 9px 0 0;
}


h3{
  margin: 4px auto 0;
}
ul{
  background:#f2eada;
  margin: 0 10px 12px;
  padding:0 10px 13px;
  width:320px;
  li{
    font-size:16px;
    line-height:18px;
    padding-left: 20px;
    position:relative;

  }
  li:before{
    content:"";
    display:block;
    background:url(../images/fork.jpg) no-repeat center center/cover;
    height:15px;
    position:absolute;
    top:0;
    left: 0;
    width:13px;
  } 
}



.btn{
  background:#f28100;
  border:1px solid #f9c080;
  border-radius:6px;
  box-sizing:border-box;
  height:40px;
  margin:0 auto 14px;
  //padding-left:40px;
  width:250px;
  a{
  display:block;
  font-size:16px;
  line-height:40px;
  //margin-left:40px;
  position:relative;
  text-indent: 14%;  
}
  a:hover{
    opacity:0.7;
  }
  a:after{
  content:"";
  display:block;
  background:url(../images/right.png) no-repeat center center/cover;
  height:20px;
  position:absolute;
  top:0;
  right:40px;
  bottom:0;
  margin:auto;
  width:15px;
  }
}